body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    border: 5px solid black;
    background-color: yellow;
}

.gridRow {
    flex-direction: row;
}

.gridSquares {
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}

.hover {
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
    box-sizing: border-box;
}

.randomColor {
    flex-direction: column;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: green;
}


#sizeOfGrid {
    margin-bottom: 25px;
}

