body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    background-color: yellow;
    border: 1px solid red;
    height: auto;
    width: auto;
}

.gridRow {
    flex-direction: row;
}

.gridSquares {
    flex-direction: column;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: yellow;
}

.hover {
    flex-direction: column;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: black;
}

#sizeOfGrid {
    margin-bottom: 25px;
}

