body {
    display: flex;
}

.grid div {
    background: peachpuff;
    border: 4px solid brown;
    height: 80px;
    flex: 1 1 auto;
  }

.gridColumn {
    display: flex;
    flex-direction: column;

}

.gridRow {
    display: flex;
    flex-direction: row;

}

.square div {
    display: flex;   
}
